@using Sibers.MVC.ViewModels
@using Sibers.MVC.ViewModels.Users
@model LoginViewModel

<link href="~/css/projects.css" rel="stylesheet"/>

<div class="auth-card">
    <h3 class="auth-title">Login</h3>
    <form asp-action="Login" method="post">
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>